@charset "UTF-8";

:root {
    --cor-magenta-escuro: hsl(300, 43%, 22%);
    --cor-rosa-claro: hsl(333, 80%, 67%);
    --cor-magenta-acizentado: hsl(303, 10%, 53%);
    --cor-magenta-leve: hsl(300, 24%, 96%);
    --cor-branco: hsl(0, 0%, 100%);
    --fonte-league-spartan: "League Spartan", sans-serif;
}

body {
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--fonte-league-spartan);
}

@media (min-width: 1440px) {
    /* Estilos para telas grandes */
    body {
        background-image: url(../assets/bg-pattern-top-desktop.svg), url(../assets/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        background-size: 43% 44%, 75% 83%;
        height: 89vh;
    }

    .container__header {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5%;
    }

    .titulo__principal {
        font-size: 3.4em;
        color: var(--cor-magenta-escuro);
    }

    .paragrafo__principal {
        color: var(--cor-magenta-acizentado);
        font-size: 1.3em;
        line-height: 1.3em;
    }

    .container__avaliacoes {
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin-top: 50px;
    }

    .subcontainer__avaliacoes {
        display: flex;
        gap: 30px;
        width: 414px;
        background-color: var(--cor-magenta-leve);
        padding: 22px;
        border-radius: 9px;
    }

    .subcontainer__1 {
        margin-left: -60px;
    }

    .subcontainer__3 {
        margin-left: 60px;
    }

    .estrelinhas {
        background-image: url(../assets/icon-star.svg);
        background-repeat: space;
        width: 96px;
        height: 16px;
    }

    .avaliacao__estrelas {
        color: var(--cor-magenta-escuro);
        font-size: 1.3em;
        font-weight: bold;
    }

    .container__principal {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
        height: 353px;
    }
    
    .container__informacoes__comprador {
        padding: 40px 76px;
        border-radius: 8px;
        background-color: var(--cor-magenta-escuro);
    }

    .container__comprador__1 {
        align-self: start;
    }

    .container__comprador__2 {
       align-self: center;
    }

    .container__comprador__3 {
        align-self: end;
    }

    .subcontainer__informacoes {
        display: flex;
        gap: 20px;
        margin-left: -40px;
    }

    .nome__comprador {
        color: var(--cor-branco);
        font-size: 1.2em;
        margin-bottom: 3px;
    }

    .status__comprador {
        color: var(--cor-rosa-claro);
        font-size: 1em;
    }

    .paragrafo__comprador {
        color: var(--cor-branco);
        font-size: 1.2em;
        line-height: 1.4em;
        letter-spacing: 1px;
        margin-left: -30px;
    }

    .imagem__comprador {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1439px) {
    /* Estilos para dispositivos móveis (celulares e tablets) */
    body {
        background-image: url(../assets/bg-pattern-top-mobile.svg), url(../assets/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
    }

    .container__header {
        margin-bottom: 50px;
    }
    
    .titulo__principal {
        font-size: 2.6em;
        text-align: center;
        color: var(--cor-magenta-escuro);
    }

    .paragrafo__principal {
        color: var(--cor-magenta-acizentado);
        text-align: center;
        font-size: 1.1em;
        line-height: 1em;
    }

    .container__avaliacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        margin-top: 50px;
    }

    .subcontainer__avaliacoes {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 80%;
        background-color: var(--cor-magenta-leve);
        padding: 22px;
        border-radius: 9px;
        text-align: center;
    }

    .estrelinhas {
        background-image: url(../assets/icon-star.svg);
        background-repeat: space;
        width: 96px;
        height: 16px;
        margin: auto;
    }

    .avaliacao__estrelas {
        color: var(--cor-magenta-escuro);
        font-size: 1.2em;
        font-weight: bold;
    }

    .container__informacoes__comprador {
        margin-bottom: 20px;
        padding: 40px 50px 40px 70px;
        border-radius: 8px;
        background-color: var(--cor-magenta-escuro);
    }

    .subcontainer__informacoes {
        display: flex;
        gap: 20px;
        margin-left: -40px;
    }

    .nome__comprador {
        color: var(--cor-branco);
        font-size: 1.2em;
        margin-bottom: 3px;
    }

    .status__comprador {
        color: var(--cor-rosa-claro);
        font-size: 1em;
    }

    br {
        display: none;
    }

    .paragrafo__comprador {
        color: var(--cor-branco);
        font-size: 1em;
        line-height: 1.4em;
        letter-spacing: 1px;
        margin-left: -30px;
    }

    .imagem__comprador {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}